html, body {
    overflow-x: hidden;
}

/* Nav Bar */

.navbar {
    box-shadow: 0 2px 7px 0 rgba(0,0,0,0.5);
    padding: 0;
    z-index: 1;
}

.navbar-toggler {
    border: none;
    transition: background-color 0.2s;
    transform: skew(45deg);
}
.navbar-toggler:hover {
    cursor: pointer;
    background-color: rgba(255,255,255,0.1);
}
.navbar-toggler:focus,
.navbar-toggler:active {
    outline: none;
}

.navbar-brand {
    font-weight: 300;
    padding: 0 0 0 10px;
    font-size: 27px;
    margin-top: -3px;
    transform: skew(45deg);
}

.navbar-left,
.navbar-center,
.navbar-right {
    padding: .5rem 1rem;
}

.navbar-left {
    z-index: 2;
    background-color: #5C629C;
    box-shadow: 6px 0 3px -3px rgba(0,0,0,0.1);
    transform: skew(-45deg);
    padding-left: 2rem;
    padding-right: 3rem;
    margin-left: -1.6rem;
}

.navbar-center {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: .5rem 1rem;
    max-height: 100%;
    height: 100%;
}
.navbar-right {
    z-index: 2;
}

#page-title {
    font-size: 30px;
    margin-bottom: 0;
    color: rgba(255,255,255,0.8);
}

@media (max-width: 768px) {
    .navbar-center {
        position: relative;
        height: auto;
        background-color: rgba(255,255,255,0.2);
        box-shadow: 0 5px 8px -3px inset;
    }
    .navbar-center #page-title {
        font-size: 20px;
    }
}

/* End Nav Bar */

/* Button */

.cpca {
    background-color: #5C629C;
    color: rgba(255,255,255,0.8);
    transition: all 0.2s;
}
.cpca:hover {
    cursor: pointer;
    background-color: #898EBB;
}
.cpca:active, .cpca:focus {
    outline: none;
    box-shadow: none;
}

/* End Button

/* Footer */

footer {
    text-align: center;
    color: rgba(255,255,255,.5);
    width: 100%;
    font-size: 12px;
    padding: 5px;
}

/* End Footer */

/* Menu */

.fa-fw {
    padding-right: 25px;
}

.side-menu {
    position: relative;
    background-color: #eee;
    z-index: 0;
    min-width: 300px;
    transition: all 0.3s;
    overflow-y: auto;
    font-size: 15px;
}
.side-menu.hidden {
    transform: translateX(-100%);
    box-shadow: none;
}

.side-menu .close {
    margin-right: 10px;
    color: white;
    text-shadow: 0 2px 3px rgba(0,0,0,0.7);
}
.side-menu .close:hover {
    cursor: pointer;
}
.side-menu .close:focus,
.side-menu .close:active
{
    box-shadow: none;
    outline: none;
}

.side-menu .active {
    color: #898EBB!important;
    font-weight: bold;
}

.side-menu nav {
    padding: 20px;
    height: auto;
}

.side-menu > nav {
    margin-bottom: 45px;
}

.side-menu nav a {
    flex: 1;
    padding: 0.5rem 1rem 0.5rem 0;
    color: rgba(0,0,0,0.75);
    transition: font-weight 0.1s;
}

.side-menu nav a:hover {
    color: #898EBB!important;
    color: rgba(0,0,0,0.20);
    font-weight: bold;
}

.side-menu .fill-spacer {
    flex: 1;
}

.side-menu .nav-link[data-toggle="collapse"]:not(.collapsed) {
    font-weight: bold;
}
.side-menu .nav-link[data-toggle="collapse"]:after {
    content: '\f105';
    font-family: FontAwesome;
    padding-left: 5px;
    font-weight: bold;
    transform-origin: 50% 50%;
    transform: rotate(0deg);
    display: inline-block;
    transition: transform 0.2s;
    font-size: 15px;
    line-height: 20px;
}
.side-menu .nav-link[data-toggle="collapse"]:not(.collapsed):after {
    transform: translate(5px) rotate(90deg);
}
.side-menu ul a {
    padding-left: 1.5rem;
    font-weight: 300;
}

.side-menu nav a:not(:first-child):not(.py-0) {
    border-top: 1px solid rgba(134, 142, 150, 0.30);
}

.side-menu nav a.py-0:last-child {
    padding-bottom: 10px!important;
}

.side-menu-welcome {
    position: fixed;
    bottom: 27px;
    color: #868e96!important;
    width: 300px;
    background-color: #eee;
    text-align: center;
    padding: 14px 0px 30px 0px;
}

#menu-title {
    font-size: 30px;
    color: rgba(255,255,255,0.8);
}

.non-menu-content {
    height: 100%;
    transition: transform 0.3s;
}
.non-menu-content.blur {
    transform: translateX(3%);
}

.menu-cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.4);
    z-index: -1;
    opacity: 0;
    display: block;
    transition: all 0.3s;
}
.menu-cover.show {
    z-index: 50;
    opacity: 1;
}
.menu-cover.tutorial-cover {
    z-index: 50;
    opacity: 1;
    background-color: rgba(0,0,0,0.5);
}

/* End Menu */

/* Main Content */

#main-content {
    flex: 1;
    width: 100%;
    padding: 15px;
    overflow-y: auto;
    overflow-x: hidden;
}

.tutorial {
    z-index: 51;
}

#content-wrapper {
    flex: 1;
    width: 100%;
}

/* Popover */

.popover-footer {
    padding: 5px;
    text-align: right;
}

/* Dashboard */

#dashboard-wrapper {
    flex: 1;
    flex-basis: 280px;
}

.dashboard-panel {
    text-align: center;
    flex: 1;
    min-width: 280px;
    padding: 10px;
    transition: background-color 0.2s;
    text-decoration: none;
}
.dashboard-panel:hover {
    cursor: pointer;
    background-color: rgba(0,0,0, 0.1);
    text-decoration: none!important;
}

.button-main-title {
    padding-top: 5px;
    font-size:20px;
    text-decoration: none;
    color: rgba(0,0,0,0.9)!important;
}
.button-sub-title{
    color:grey!important;
    text-decoration: none;
}

.icon-img{
    height:100px;
    width: auto;
}

/*Form Stuff*/
.search-participants{
    width:70%;
}
.top-search-row{
    margin-top: 5%;
    z-index: 10000;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    z-index: 9000;
}
.userLoggedIn{
    color:white;
}
.body-main{
    margin-top:5%;
}
.title-main{
    margin-top:2%;
}
.delete-show{
    display: none;
}

.page-wrapper {
    flex: 1;
}

/*Login*/
.form-footer.submit {
    text-align: center;
    margin-top: 20px;
}

/* Search */
.agency-search-item{
    display: none!important;
}
.result-launch{
    display:inline-block;
    float:right;
}
.sublist{
    padding-top:5%;
}
.back{
    height:20px!important;
}
.thin-title{
	font-weight:300;
	font-size: 1.5rem;
}